:root {
    --color-green : rgb(90, 218, 111);
}

* {
    margin: 0px;
    padding: 0px;
    border : 0px;
    font-family: 'K2D', sans-serif;

}

body {
    background-color :rgb(240, 240, 240);
    position : relative;
}

ul {
    list-style: none;
}

/* -- NAVBAR -- */

nav {
    padding-top : 15px;;
    padding-bottom: 15px;;
    font-weight: 700;
    background-color:rgb(240, 240, 240);
    margin-bottom: 1%;
    display : flex;
    justify-content: space-between;
    text-decoration: none;
}

nav h1 {
    font-weight: 500;
    font-size : 1.75rem;
    margin-left : 1vw;
    margin-top : 10px;
    font-family: 'Press Start 2P', cursive;
}

nav span {
    color:rgb(90, 218, 111);
    font-weight: 500;
    font-size : 1.75rem;
    margin-top : 10px;
    font-family: 'Press Start 2P', cursive;
}

nav ul{
    display : flex;
    justify-content :flex-end;
    margin-top : 0.65%;
}

nav ul li {
    list-style: none;
    padding-left : 12px;
    padding-right: 12px;
}

nav ul li a:link{
    text-decoration: none;
    color : rgb(88, 88, 88);
}

nav ul li a:visited {
    text-decoration: none;
    color : rgb(88, 88, 88);
}

nav ul li a:hover {
    color : black;
    zoom : 1.05;
}

nav label, #toggle{
    display: none;
}


@media screen and (max-width:1110px){
    nav label {
        display : block ;
        margin: 0.675% 20px 0 0;
        font-size: 175%;
        cursor: pointer;
    }

    nav ul {
        position : fixed ;
        width : 100%;
        height: 100vh;
        top: 65px;
        left : -100%;
        text-align: center;
        transition : all .5s;
        display: block;
        background-color: rgb(240, 240, 240);
        z-index : 1000;
    }

    nav ul li {
        display: block;
        margin-left: 20%;
        line-height: 40px;
        width: 65%;
        padding : 35px 0 35px 0;
        border: 2px solid rgb(90, 218, 111);
        z-index : 1000;
    }

    #toggle:checked ~ ul {
        left : 0;
    }
}


/* -- SECTION -- */

section {
    font-weight: 600;
    color :rgb(88, 88, 88);
    display : block;
    justify-content: center;
    margin-left : 15px;
    margin-right : 15px;
}

#accueil{
    display: block;
}

section:not(:target), section:target ~ #accueil{
    display: none;
}
  
section:target {
    display: block;
}

article h1 {
    padding-bottom : 10px;
    padding-top : 10px;
    font-size: 155%;
    font-weight: 900;
}

article p {
    padding-bottom : 7px;
    font-size: 1.5ch;
}

#logo {
    margin-top : 20%;
}

#exp-head {
    display : flex;
    flex-direction: row;
}

hr {
    margin-top : 1.75vh;
    margin-left : 5px;
    background-color : rgb(88, 88, 88);;
    height: 2px;
    width : 97%;
}

#exp-head img {
    width: 2vw;
    min-width : 45px;
    max-width:2vw ;
}

#accueil article, #accueil .header, #formations article, #formations .header, #competences article, #experiences article, #experiences .header, #contact article, #contact .header, #a_propos article, #a_propos .header {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

#accueil article, #accueil .container, #formations article, #formations .container, #competences article, #experiences article, #experiences .container, #contact article, #contact .container, #a_propos article, #a_propos .container {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* < ----- ACCUEIL ----- > */

#accueil article, #formations article, #a_propos article{
    min-height : 75vh;
    width: 90vw;
    max-height : fit-content;
    text-align: center;
    background-color: white;
    border-radius: 45px;
    -webkit-box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68); 
    box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68);
    margin-left : 4%;
}


#accueil .header {
    height: 30vh;
    background-color: rgb(90, 218, 111);
    display: flex;
    justify-content: space-around;
}

#txt {
    max-width: 30vw;
    min-width: 15vw;
    color : rgb(240, 240, 240);
    margin-top : 1.5%;
}

#txt h1 {
    font-size: 195%;
    margin-top : 2%;
    padding-bottom: 2%;
}

#txt h2 {
    font-size: 125%;
    padding-bottom: 6%;
}

.pic {
    margin-top : 1.25%;
    width : 35vw;
    height: 30vh
}

.pic img {
    max-width: 120%;
    max-height: 120%;
    object-fit: contain;
    border : 5px solid white ;

}

#accueil .container, #formations .container {
    display : flex;
    text-align: justify;
    flex-direction: row;
    justify-content: space-around;
}

#accueil .container-left {
    max-width : 35vw ;
    min-width: 25vw;
    margin : 8.5% 0 0 4%; 
}

#accueil .container-left h2{
    padding-bottom: 3.5%;
}

#accueil .container-left p{
    padding-bottom: 2.5%;
}

#accueil .container-right {
    max-width : 45vw ;
    min-width: 25vw;
    max-height : 20vh;
    margin-top : 5.75%;
}

#accueil .container-right ul{
   display : flex ;
   flex-direction: column;
   padding-bottom: 4%;
}

#accueil .container-right ul li {
    padding : 2% 0 1.5% 0;
}

#accueil .container span {
    color : black;
    font-weight: bold;
}

/* < ----- COMPETENCES ----- > */

#a_propos .presentation {
    width: 40vw;
}


#a_propos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 45px;
}
 
#competences article{
    min-height : 87vh;
    max-width: 90vw;
    max-height: fit-content;
    min-width: 90vw;
    text-align: center;
    background-color: white;
    border-radius: 45px;
    -webkit-box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68); 
    box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68);
    margin-left : 4%;
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    position : absolute;
}

/* < -- GAUCHE -- > */

#competences .container-left {
    max-height : 100%;
    position : relative;
    width: 45vw;
    background-color: var(--color-green);
    text-align : center;
    padding-bottom : 70px;
    border-radius : 35px 0 0 35px;
}

#competences .header-left {
    color : white ;
    margin-top : 3%;
    font-weight: bold;
    font-size : 128%;   
}

#competences .header-left hr {
    background-color: white;
    height: 4px;
    width : 45%;
    margin-left : 27%;
}

#competences .container-left-content, #competences .container-right-content {
    width: 75%;
    min-height: fit-content;
    margin : 4% 0 0 12%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68); 
    box-shadow: 0px 6px 22px -3px rgba(153,153,153,0.68);
    padding : 3% 0 4% 0;
}

#competences .container-left-content {
    background-color: white;
}

#competences .container-left-content span {
    color : var(--color-green);
    font-weight: bolder;
}

/* < -- DROITE --> */

#competences .container-right {
    height: auto;
    width: 45vw;
    background-color: white;
    border-radius : 0 35px 35px 0;
}

#competences .header-right {
    color : rgb(94, 94, 94) ;
    margin-top : 3%;
    font-weight: bold;
    font-size : 128%;
}

#competences .header-right hr {
    background-color: rgb(94, 94, 94);
    height: 4px;
    width : 45%;
    margin-left : 27%;
}

#competences .container-right-content {
    background-color: var(--color-green);
    color : white;
}

#competences .container-right-content span {
    color : rgb(94, 94, 94);
    font-weight: bolder;
}

.bar1, .bar2{
    position: relative;
    border: 2px solid rgba(153,153,153,0.9);
    border-radius: 20px;
    width : 90%;
    margin : 0 0 1% 5%;
}

.bar2 {
    border: 2px solid white;
}

.bar1 div, .bar2 div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: rgba(153,153,153,0.9);
}

.bar2 div{
    background-color: white;
}

.min-title {
    color :white;
    font-weight: bolder;
}

.min-title-hr {
    background-color: white;
    height : 2px;
    width: 45%;
    margin : 0 0 2% 27%;
}

/* < ----- FORMATIONS ----- > */

.form{
  width:75%;
  margin : 4% auto auto 25%;
  display:block;
  position:relative;
}

@media (max-width:1162px){
    .form {
        margin : 4% auto auto 10.5vw;
    }

    #experiences .form{
        margin : 4% auto auto 13vw;
    }
    
}

.form ul.tl{
    margin:20px 0 0 2.75%;
    padding:0;
    display:inline-block;

}

.form ul.tl li .tl-title{
    padding-bottom : 3.25%;
    color :rgb(88, 88, 88);
    font-weight: bold;
    font-size: 110%;
    text-align: left;
}

.form ul.tl li{
    list-style: none;
    margin: auto auto auto 200px;
    min-height:50px;
    border-left:1px dashed rgb(127, 235, 145);
    padding:0 0 50px 30px;
    position:relative;
}

.form ul.tl li:last-child{ 
    border-left:0;
}

.form ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: rgb(90, 218, 111);
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}


.tl li .tl-detail{
    color:rgba(0,0,0,0.5);
    min-width: 350px;
    max-width: 750px;
    font-size: 105%;
    text-align: left;
}

.tl li .time{
    color: rgb(88,88,88);
    position: absolute;
    width:100px;
    left: -13.2vw;
    text-align: right;
}

.tl li .exp-time{
    color: rgb(88,88,88);
    position: absolute;
    width:100px;
    left: -13.2vw;
    text-align: right;
}


#formations .header {
    height : 15vh;
    background-color: var(--color-green);
    text-align: center;
}

#formations h1 {
    max-width: 30vw;
    min-width: 15vw;
    color : rgb(240, 240, 240);
    margin : 1.5% 0 0 33.5%;
    font-size: 1.75rem;
    padding-bottom: 37.5px;
}

#formations span {
    color :rgb(88, 88, 88);
    font-weight: bold;
}


#a_propos .header {
    min-height : 25%;
    max-height : fit-content;
    background-color: var(--color-green);
    display: block;
    color : white;
}

#a_propos h2 {
    font-size: 135%;
    padding-top: 1.25%;
    padding-bottom:30px;
    text-align: center;
}

#a_propos .container h2 {
    color :rgb(90, 218, 111);
}

.ap-2nd-container {
    min-width: 70vw;
    max-width : auto ;
    margin-top : 1%;
    display: flex;
    margin-left : 15%;
}

.ap-2nd-container p{
    text-align: justify;
    margin-left: 20%;
    margin-right: 10%;
}

#a_propos .container {
    display : flex;
    text-align: justify;
    flex-direction: column;
    justify-content: space-around;
}

.ap-3rd-container {
    display : flex ;
    flex-direction: row;
    justify-content: space-around;
    margin-top : 3%;
    padding-bottom : 17.5px;
}

.ap-3rd-container ul li {
    padding-bottom: 6.5%;
}

.ap-3rd-container ul li span{
    font-weight: 900;
    color :rgb(70, 70, 70);
}

.ap-3rd-container-left, .ap-3rd-container-right {
    display : flex ;
    flex-direction: column;
    flex-wrap: wrap;
}

#contact #form-article {
    width: 50vw;
    margin-left: 24%;
}

.contact-header {
    background-color: var(--color-green);
    height: 10vh;
    border-radius: 35px 35px 0 0;
}

.contact-header h1{
    font-size: 1.75rem;
    color : white ;
    padding-top : 2.75%;
    margin-left : 4.5%;
}

.contact-content {
    width: 45%;
    margin-left : 4%;
    text-align : left;
}

.contact-content p {
    font-size: 112.5%;
    padding : 2.75% 0 2% 0;
}

.contact-square {
    resize: none;
    height : 5vh;
    border : 1px dashed rgb(90, 218, 111);
    border-radius: 7.5px;
    width: 200%;
}

.contact-square::placeholder {
    padding-left: 15px;
}

textarea {
    resize : none ;
    width : 25vw;
    height: 15vh;
    border : 1px dashed rgb(90, 218, 111);
    border-radius: 7.5px;
    width: 200%;
}

textarea::placeholder {
    padding : 20px 0 0 15px;
}

.rgpd {
    display : flex ;
    width : 150%;
}

.rgpd p {
    margin: -0.75% 0 0 15%;
    font-size : 57.5%;
}

#submit {
    background :rgb(255, 255, 255);
    border : 2px solid rgb(90, 218, 111);
    border-radius: 7.5px;
    padding : 2.5%;
    font-size: 95%;
    height: 62.5%;
}

#submit:hover {
    background :rgb(90, 218, 111);
    color: white;
}

footer {
    position : fixed ;
    bottom : 0;
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    background :rgb(129, 245, 148);
    width: 100%;
    height: 5.25%;
}

footer p {
    margin : 2% 0 0 5%;
    font-weight: 700;
}

.footer-left {
    width: 40%;
}

.footer-right {
    width : 60%;
    display : flex ;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left : 30%;
}

.footer-right div p {
    margin : 1% 0 0 35%;
    color :rgb(70, 70, 70);
}

.footer-right div span {
    font-weight: 500;
}

.footer-img{
    margin : 0 0 0 20%;
    width: 100%;
}

.footer-img img {
    width: 20px;
}

#accueil a{
    text-decoration: none ;
    border : 2px solid rgb(90, 218, 111);
    padding : 1% 1% 1.5% 1%;
    border-radius: 25px;
}

#accueil a:visited, #accueil a:link {
    color : rgb(90, 218, 111);
}

#accueil a:hover {
    background-color: rgb(90, 218, 111);
    color : white;
}

#experiences a, #formations a{
    text-decoration: none ;
    border : 2px solid white;
    padding : 1% 1% 1% 1%;
    border-radius: 25px;
}

#experiences a:visited, #formations a:visited, #experiences a:link, #formations a:link {
    color : white;
}

#experiences a:hover, #formations a:hover {
    background-color: white;
    color : rgb(90, 218, 111);
}